<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <div class="container">
        <div class="jumbotron text-center">
            <h1 id="h1">Mission to Mars</h1>
            <br />
            <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Get Data!</a></p>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 id="h2">Latest Mars News</h2>
                <h4>{{ mars.news_title }}</h4>
                <p>{{ mars.news_p }}</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-8">
                <h2 id="h2">Featured Image</h2>
                <img src="{{ mars.featured_img }}" class="figure-img img-fluid rounded" alt="Featured Image">
            </div>
            <div class="col-md-12 col-lg-4">
                <h3> Mars Facts</h3>
                {{ mars.mars_table|safe }}
            </div>
        </div>
    </div>
    <br />
    <div class="container text-center">
        <h2 id="h2">Mars Hemipsheres</h2>
        <hr />
        <div class="row">
            <figure class=" figure col-6">
                <img src="{{ mars.hemisphere_urls.url[0] }}" class="figure-img img-fluid img-thumbnail" alt="{{ mars.hemisphere_urls.title[0] }}">
                <figcaption class="figure-caption"><h4 id="h4-response">{{ mars.hemisphere_urls.title[0] }}</h4></figcaption>
            </figure>
            <figure class=" figure col-6">
                <img src="{{ mars.hemisphere_urls.url[1] }}" class="figure-img img-fluid img-thumbnail" alt="{{ mars.hemisphere_urls.title[1] }}">
                <figcaption class="figure-caption"><h4 id="h4-response">{{ mars.hemisphere_urls.title[1] }}</h4></figcaption>
            </figure>
            <figure class=" figure col-6">
                <img src="{{ mars.hemisphere_urls.url[2] }}" class="figure-img img-fluid img-thumbnail" alt="{{ mars.hemisphere_urls.title[2] }}">
                <figcaption class="figure-caption"><h4 id="h4-response">{{ mars.hemisphere_urls.title[2] }}</h4></figcaption>
            </figure>
            <figure class=" figure col-6">
                <img src="{{ mars.hemisphere_urls.url[3] }}" class="figure-img img-fluid img-thumbnail" alt="{{ mars.hemisphere_urls.title[3] }}">
                <figcaption class="figure-caption"><h4 id="h4-response">{{ mars.hemisphere_urls.title[3] }}</h4></figcaption>
            </figure>
            
        </div>
    </div>
</body>

</html>